{{#*inline "page"}}
<header>
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <div class="flex-none flex-l mt5 mb5 tc tl-l">
      <div class="w-70-l w-100">
        <h1>Error</h1>
        <h2 class="subtitle">Oops</h2>
      </div>
    </div>
  </div>
</header>

{{/inline}}
{{~> (parent)~}}
