{{#*inline "page"}}
<p><img class="size-medium wp-image-30 aligncenter" alt="" width="300" height="240"
    srcset="/static/images/Edited-done-300x240.jpg 300w, /static/images/Edited-done-768x614.jpg 768w, /static/images/Edited-done-1024x819.jpg 1024w"
    sizes="(max-width: 300px) 100vw, 300px"></p>
<p>Apex Plumbing is a family owned business in the Logan and Cache Valley area of Utah. The owner, Howard Kunz, is a
  second generation plumber. He started working with his dad in the business at age 5 and continued until graduating
  from high school. He first recieved his Idaho journeyman license in 1989.</p>
{{/inline}}

{{~> (parent)~}}