{{#*inline "page"}}
<p>Howard Kunz, Owner</p>
<p>5655 N 3100 West<br>
  Amalga, UT 84335</p>
<p>Phone: (435) 213-7146</p>
<p>Apex Plumbing doesn’t just go to Logan and Smithfield Utah, but covers the whole valley.</p>
{{/inline}}

{{~> (parent)~}}