{{#*inline "page"}}
<ul>
  <li>We serve Logan and are based in Cache Valley</li>
  <li>Plumbing repair and remodel</li>
  <li>100% satisfaction guaranteed on all plumbing jobs</li>
  <li>20 years of experience as a journeyman plumber</li>
  <li>Clean, quick, reliable service</li>
  <li>Water heaters, drain cleaning, leaks, faucet repair, water softeners</li>
</ul>
<h3>Service area</h3>
<iframe
  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d190378.2581823877!2d-112.05316180334222!3d41.79253444642166!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x875488ff5947c92f%3A0xad999855e3bf0caf!2sApex%20Plumbing!5e0!3m2!1sen!2sus!4v1644466026628!5m2!1sen!2sus"
  width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
{{/inline}}

{{~> (parent)~}}