{{#*inline "page"}}
<h3>What is the best and strongest drain cleaner? We tested 3 brands. Here are our results.</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/-acd-kLo22k" frameborder="0"
  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>

<h3>Shutting off the water to a leaky fixture:</h3>
<p>1. Look for shiny valve under the fixture or cabinet,</p>
<p>2. Turn clockwise. If it is frozen in place, get some pliers and gently work back and forth until it turns freely.
</p>
<p>3. See my video demonstration below.<br>
  <iframe loading="lazy" src="https://www.youtube.com/embed/lCdcHvGwiY8" width="560" height="315" frameborder="0"
    allowfullscreen="allowfullscreen"></iframe>
</p>

<h3>Shutting off the house water</h3>
<p>Usually the shut-off valve is near the front part of the house in the basement or in a utility closet with a water
  heater and furnace. Look for a handle usually 2′-3′ off the floor. Turn handle clockwise. If frozen, get pliers and
  gently work back and forth until it turns freely.</p>
  
<h3>Relight a waterheater</h3>
  <iframe loading="lazy" src="https://www.youtube.com/embed/V490fKCM6UE" width="560" height="315" frameborder="0"
    allowfullscreen="allowfullscreen"></iframe>
</p>

<h3>Unclog a toliet</h3>
<p><iframe loading="lazy" src="https://www.youtube.com/embed/PLburazFNyo" width="560" height="315" frameborder="0"
    allowfullscreen="allowfullscreen"></iframe></p>

<h3>Increase faucet water flow</h3>
<p><iframe loading="lazy" src="https://www.youtube.com/embed/g2opRC6DBTM" width="560" height="315" frameborder="0"
    allowfullscreen="allowfullscreen"></iframe></p>

<h3>Turn off a leaky water heater</h3>
<p><iframe loading="lazy" src="https://www.youtube.com/embed/4zTr7ChHm00" width="560" height="315" frameborder="0"
    allowfullscreen="allowfullscreen"></iframe></p>
{{/inline}}

{{~> (parent)~}}