<footer>
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <div class="flex flex-column flex-row-ns pv0-l">
      <div class="flex flex-column mw8 w-100 measure-wide-l pv2 pv5-m pv2-ns ph4-m ph4-l">
        <h4>Contact Us</h4>
        <ul>
          <li><a href="tel:4352137146">Phone: 435-213-7146</a></li>
        </ul>
      </div>
      <div class="flex flex-column mw8 w-100 measure-wide-l pv2 pv5-m pv2-ns ph4-m ph4-l">
        <h4>Leave a Review</h4>
        <ul>
          <li><a href="https://g.page/r/Ca8Mv-NVmJmtEAI/review">Google Review Link</a></li>
      </div>
</footer>
